{% extends "LaApiBundle:Doc:layout.html.twig" %}

{% block title %}
    Appendix: {{ infos.title }}
{% endblock title %}

{% block content %}
    <div id="list_params" class="col-xs-12 col-sm-9">

        {% if infos.description is defined %}
            {% if infos.description.parameters is defined and infos.description.parameters is iterable %}
                <h2>Fields</h2>
                {% for key, parameter in infos.description.parameters %}
                    <div class="row odd_or_even">
                        <div class="col-6 col-sm-6 col-lg-6">
                            <div class="parameter">{% if  parameter.type is defined %}
                                    <span class="type">{{ parameter.type }}</span>
                                {% endif %}
                                {{ key }}
                            </div>
                            <p>
                                {% if parameter.required is defined and parameter.required %}
                                    <span class="required_param">required</span>
                                {% else %}
                                    <span class="optional_param">optional</span>
                                {% endif %}
                            </p>
                        </div>

                        <div class="col-6 col-sm-6 col-lg-6">

                            {% if parameter.description is defined %}
                                <p><strong>Description</strong>: {{ parameter.description|urlizer(name)|nl2br }}</p>
                            {% endif %}
                            {% if  parameter.links is defined and  parameter.links is iterable %}
                                <h2>See</h2>
                                <ul>
                                    {% for k, link in parameter.links %}
                                        <li>
                                            {% if link.link is defined %}
                                                {{ link.link|urlizer(name) }}
                                            {% else %}
                                                <a href="{{ link.url }}">{{ link.label }}</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                        </div>
                    </div>

                {% endfor %}
            {% else %}
                <p>
                    {{ infos.description|urlizer(name)|nl2br }}
                </p>
            {% endif %}
        {% endif %}

        {% if infos.body is defined and infos.body is iterable %}
            {% for block in infos.body %}

                {% if block.title is defined %}
                    <a name="{{ block.title }}"></a>
                    <h2>{{ block.title }}</h2>
                {% endif %}

                {% if block.paragraphes is defined and block.paragraphes is iterable %}
                    <p>
                        {% for paragraph in block.paragraphes %}
                            {{ paragraph|urlizer(name)|nl2br }}<br/>
                        {% endfor %}
                    </p>
                {% endif %}


                {% if  block.example is defined %}
                    <p><strong>Example</strong></p>
                    <pre><code>{{ block.example }}</code></pre>
                {% endif %}


            {% endfor %}
        {% endif %}

        {% if infos.example is defined %}
            <h2>Example</h2>
            <pre><code>{{ infos.example }}</code></pre>
        {% endif %}


        {% if infos.warning is defined and infos.warning is not null %}
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-warning-sign"></span>
                {{ infos.warning|urlizer(name, 'alert-link')|nl2br }}
            </div>
        {% endif %}


        {% if  infos.links is defined and  infos.links is iterable %}
            <h2>See</h2>
            <ul>
                {% for k, link in infos.links %}
                    <li>
                        {% if link.link is defined %}
                            {{ link.link|urlizer(name) }}
                        {% else %}
                            <a href="{{ link.url }}">{{ link.label }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}


        {% if infos.changelog is defined  and  infos.changelog is iterable %}
            <h2><a name="changelog"></a>Changelog</h2>

            {% for key, changelog in infos.changelog %}

                <div class="row odd_or_even">
                    <div class="col-3 col-sm-3 col-lg-3">
                        {{ key }}
                    </div>

                    <div class="col-9 col-sm-9 col-lg-9">
                        <p class="changelog">{{ changelog|urlizer(name)|nl2br }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}


    </div>
{% endblock content %}


{% block sidebar %}
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        {{ render(controller('LaApiBundle:Doc:list', { 'name': name, 'current': current })) }}
        {{ render(controller('LaApiBundle:Doc:listAppendix', { 'name': name, 'current': current })) }}
    </div>
{% endblock sidebar %}


{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ url('la_api_doc_home_appendix', {'name': name}) }}">Appendices</a></li>
    <li class="active">{{ infos.title }}</li>
{% endblock breadcrumbs %}

{% block navbar %}
    <li><a href="{{ url('la_api_doc_home', {'name': name}) }}">Api</a></li>
    <li class="active"><a href="{{ url('la_api_doc_home_appendix', {'name': name}) }}">Appendices</a></li>
{% endblock navbar %}

