{% extends "LaApiBundle:Doc:layout.html.twig" %}


{% block title %}Rest Api <em>{{ name }}</em> Appendix{% endblock title %}


{% block content %}
    <div id="list_params" class="col-xs-12 col-sm-9">

        {% if links is defined and links is iterable %}
            <h2>Appendix</h2>
            {% for key, item in links %}
                <div class="row odd_or_even">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <h3>
                            <a href="{{ url("la_api_doc_appendix", { 'name': item.name,'action': item.action }) }}">{{ item.title }}</a>
                        </h3>

                        <div>
                            <p>
                                {{ item.description }}
                            </p>

                            <div class="alert alert-{{ item.alertclass }}">
                                <span class="glyphicon glyphicon-{{ item.icon }}"></span>
                                {% include 'LaApiBundle:Doc:inc/modified.html.twig' with {'modified': item.modified,'modified_hours': item.modified_hours,'updated': item.updated} %}
                                <a class="alert-link"
                                   href="{{ url("la_api_doc_appendix", { 'name': item.name,'action': item.action }) }}#changelog">Changelog</a>
                            </div>

                        </div>


                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>Appendices</li>
{% endblock breadcrumbs %}

{% block navbar %}
    <li><a href="{{ url('la_api_doc_home', {'name': name}) }}">Api</a></li>
    <li class="active"><a href="{{ url('la_api_doc_home_appendix', {'name': name}) }}">Appendices</a></li>
{% endblock navbar %}