<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ block('title')|striptags }}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/bundles/laapi/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bundles/laapi/bootstrap/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/bundles/laapi/css/api.css"/>

    <link rel="stylesheet" href="/bundles/laapi/highlightjs/styles/default.css">
    <script src="/bundles/laapi/highlightjs/highlight.pack.js"></script>
</head>
<body>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ name|capitalize }} Api Rest
                documentation</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% block navbar %}
                    <li><a href="{{ url('la_api_doc_home', {'name': name}) }}">Api</a></li>
                    <li><a href="{{ url('la_api_doc_home_appendix', {'name': name}) }}">Appendices</a></li>
                {% endblock navbar %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a title="Connecté en tant que {{ app.user.username }}" href="javascript:void(0);"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ app.user.username }}</a></li>
                {#<li><a href="{{ logout_url(app.security.token.providerKey) }}">Logout</a></li>#}
            </ul>
        </div>

    </div>
</div>
<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <ol class="breadcrumb">
            <li><a href="{{ url('la_api_doc_home', {'name': name}) }}">Home</a></li>
            {% block breadcrumbs %}{% endblock breadcrumbs %}
        </ol>


        <h1 id="title">{{ block('title') }}</h1>


        <div class="row">

            {% block content %}
            {% endblock %}

            {% block sidebar %}
            {% endblock %}
        </div>
    </div>

    {% block bottom_js %}
        <script>hljs.initHighlightingOnLoad();</script>
    {% endblock %}

</body>

</html>