<h2>Appendices</h2>
<div class="list-group">
    {% for key, item in links %}
        <a href="{{ url("la_api_doc_appendix", { 'name': item.name,'action': item.action }) }}"
           class="list-group-item{% if current == key %} active{% endif %}">
            {{ item.title }}
        </a>
    {% endfor %}
</div>

