<h2>Resources</h2>
<div class="list-group">
    {% for key, item in links %}
        <a href="{{ url("la_api_doc_resource", { 'name': item.name,'method': item.method,'action': item.action }) }}"
           class="list-group-item{% if current == key %} active{% endif %}">
            {{ item.method|capitalize }} {{ item.name }}{% if item.action is not null %}/{{ item.action }}{% endif %}
        </a>
    {% endfor %}
</div>
