{% extends "LaApiBundle:Doc:layout.html.twig" %}

{% block title %}
    {{ method ~ ' ' ~ resource }}
{% endblock title %}

{% block content %}
    <div id="list_params" class="col-xs-12 col-sm-9">

        {% if infos.description is defined %}
            <p>
                {{ infos.description|urlizer(name)|nl2br }}
            </p>
        {% endif %}

        {% if infos.warning is defined and infos.warning is not null %}
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-warning-sign"></span>
                {{ infos.warning|urlizer(name, 'alert-link')|nl2br }}
            </div>
        {% endif %}

        {% if infos.url is defined %}
            <h2>Resource URL</h2>
            <p>
                {{ method }} {{ infos.url }}
            </p>
        {% endif %}

        {% if infos.authentication is defined and infos.authentication is not null %}
            <h2>Authentication</h2>
            <p>
                {{ infos.authentication }}
            </p>
        {% endif %}

        {% if  infos.links is defined and  infos.links is iterable %}
            <h2>See</h2>
            <ul>
                {% for k, link in infos.links %}
                    <li>
                        {% if link.link is defined %}
                            {{ link.link|urlizer(name) }}
                        {% else %}
                            <a href="{{ link.url }}">{{ link.label }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if infos.parameters is defined and infos.parameters is iterable %}
            <h2>Parameters</h2>
            {% for key, parameter in infos.parameters %}
                <div class="row odd_or_even">
                    <div class="col-6 col-sm-6 col-lg-6">
                        <div class="parameter">{% if  parameter.type is defined %}
                                <a name="parameter_{{ key }}"></a>
                                <span class="type">{{ parameter.type }}</span>
                            {% endif %}
                            {{ key }}
                        </div>
                        <p>
                            {% if parameter.required is defined and parameter.required %}
                                <span class="required_param">required</span>
                            {% else %}
                                <span class="optional_param">optional</span>
                            {% endif %}
                        </p>
                    </div>

                    <div class="col-6 col-sm-6 col-lg-6">

                        {% if parameter.description is defined %}
                            <p>{{ parameter.description|urlizer(name)|nl2br }}</p>
                        {% endif %}


                        {% if  parameter.example is defined %}
                            <p><strong>Example values</strong></p>
                            <code class="ellipsis">{{ parameter.example|raw|nl2br }}</code>
                        {% endif %}

                        {% if  parameter.constraints is defined and  parameter.constraints is iterable %}
                            <p><strong>Erreurs possibles</strong></p>
                            <ul>
                                {% for k, constraint in parameter.constraints %}
                                    <li><p><code>{{ k }}</code></p>

                                        <p>{{ constraint }}</p></li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if  parameter.links is defined and  parameter.links is iterable %}
                            <p><strong>See</strong></p>
                            <ul>
                                {% for k, link in parameter.links %}
                                    <li>
                                        {% if link.link is defined %}
                                            {{ link.link|urlizer(name) }}
                                        {% else %}
                                            <a href="{{ link.url }}">{{ link.label }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}


                    </div>
                </div>

            {% endfor %}
        {% endif %}

        {% if infos.errors is defined and infos.errors is iterable %}
            <h2>Errors</h2>
            {% for key, error in infos.errors %}
                <div class="row odd_or_even">
                    <div class="col-6 col-sm-6 col-lg-6">
                        <div class="error">{{ key }}</div>
                    </div>

                    <div class="col-6 col-sm-6 col-lg-6">

                        {% if error.description is defined %}
                            <p>{{ error.description|urlizer(name)|nl2br }}</p>
                        {% endif %}


                        {% if  error.links is defined and  error.links is iterable %}
                            <p><strong>See</strong></p>
                            <ul>
                                {% for k, link in error.links %}
                                    <li>
                                        {% if link.link is defined %}
                                            {{ link.link|urlizer(name) }}
                                        {% else %}
                                            <a href="{{ link.url }}">{{ link.label }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}


                    </div>
                </div>

            {% endfor %}
        {% endif %}


        {% if infos.example is defined %}


            {% if infos.example.request is defined %}
                <h2>Request example</h2>
                <pre><code>{{ infos.example.request }}</code></pre>
            {% endif %}

            {% if infos.example.response is defined %}
                <h2>Response example</h2>
                <pre><code>{{ infos.example.response }}</code></pre>
            {% endif %}

        {% endif %}

        {% if infos.changelog is defined  and  infos.changelog is iterable %}
            <h2><a name="changelog"></a>Changelog</h2>

            {% for key, changelog in infos.changelog %}

                <div class="row odd_or_even">
                    <div class="col-3 col-sm-3 col-lg-3">
                        {{ key }}
                    </div>

                    <div class="col-9 col-sm-9 col-lg-9">
                        <p class="changelog">{{ changelog|urlizer(name)|nl2br }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
{% endblock content %}

{% block sidebar %}
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        {{ render(controller('LaApiBundle:Doc:list', { 'name': name, 'current': current })) }}
        {{ render(controller('LaApiBundle:Doc:listAppendix', { 'name': name, 'current': current })) }}
    </div>
{% endblock sidebar %}


{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ url('la_api_doc_home', {'name': name}) }}">Api</a></li>
    <li class="active">{{ method ~ ' ' ~ resource }}</li>
{% endblock breadcrumbs %}

{% block navbar %}
    <li class="active"><a href="{{ url('la_api_doc_home', {'name': name}) }}">Api</a></li>
    <li><a href="{{ url('la_api_doc_home_appendix', {'name': name}) }}">Appendices</a></li>
{% endblock navbar %}