{% if modified > 0 %}
    {% if modified > 1 %}
        {% set date = modified ~ ' jours' %}
    {% else %}
        {% set date = modified ~ ' jour' %}
    {% endif %}
{% else %}
    {% if modified_hours > 1 %}
        {% set date = modified_hours ~ ' heures' %}
    {% elseif modified_hours == 1 %}
        {% set date = modified ~ ' heure' %}
    {% else %}
        {% set date = 'moins d\'une heure' %}
    {% endif %}
{% endif %}
Modifié il y a <strong>{{ date }}</strong> ({{ updated }})