h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 250%;
    font-weight: 300;
    margin-bottom: 30px;
    font-weight: bold;
}

h2 {
    font-size: 150%;
    border-top: 1px solid #ddd;
    padding: 4px 0 0 0;
    font-weight: bold;
}

.error {
    font-size: 120%;
    margin: 0;
    color: #b94a48;
}

.parameter {
    font-size: 120%;
    margin: 0;
    color: #428bca;
}

.parameter .type {
    font-size: 90%;
    font-style: italic;
    color: #000000;
}

.required_param {
    color: #b94a48;
    font-weight: bold;
}

.optional_param {
    color: #999999;
    font-weight: bold;
}

#list_params > .row {
    margin-bottom: 1em;
}

#list_params > .row:nth-child(odd) {
    background: #f5f5f5;
    border-radius: 10px;
}

#list_params > .row:nth-child(even) {
    background: #eee;
    border-radius: 10px;
}

.ellipsis {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.changelog {
    font-weight: bold;
}